._btn {
    width: 12rem;
    margin: 0 1.6rem;
    padding: 0.6rem 0.4rem;
    background-color: rgba(81, 247, 255, 1);
    font-size: 4rem;
    line-height: 1;
    font-weight: 700;
    border-radius: 0.8rem;
    outline: none;
}