._container {
    max-width: 96rem;
    min-height: 12rem;
    margin: 0 auto;
    overflow: inherit;
}

._box {
    max-width: 40rem;
    min-height: 8rem;
    margin: 0 auto;
    padding: 1.6rem;
    border: 0.4rem solid rgba(81, 247, 255, 1);
    border-radius: 1.6rem;
}